@page "/products"
@using BlazorWebAssemblyApp.Services
@using BlazorWebAssemblyApp.Shared
@using Domain.Models
@inject IProductService Api

<h3>Product List</h3>


@if (products is null)
{
    <Placeholder Message="Loading products..." />
}
else
{
    <ul>
        @foreach (var product in products)
        {
            <li>@product.Id @product.Name @product.Description @product.Price</li>
        }
    </ul>
}


@code {

    private List<Product>? products;

    protected override async Task OnInitializedAsync()
    {
        products = await Api.GetAll();
    }



}
