@page "/customers"

<h3>Customer List</h3>

<Loader IsLoading=@isLoading>
    <Table Items="@customers">
        <HeaderTemplate>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
        </HeaderTemplate>

        <RowTemplate Context="customer">
            <td>@customer.Id </td>
            <td>@customer.Name</td>
            <td>@customer.Email</td>
            <td><a class="btn btn-primary" href="/customers/view/@customer.Id">View</a></td>
        </RowTemplate>
    </Table>

</Loader>
