@page "/customers"
@using Domain.Models
@using BlazorWebAssemblyApp.Shared

<h3>Customer List</h3>

<Loader Items="@customers">

    <Content>
        <ul>
            @foreach (var customer in customers)
            {                
                <li>@customer.Id @customer.Name @customer.Email</li>
            }
        </ul>
    </Content>

</Loader>
