@page "/customers"

<h3>Customer List</h3>

<div>
    <label for="searchText">Search Text:</label>
    <input type="text" id="searchText" @bind=@searchText @bind:after=@SearchAsync />
    <button @onclick=@SearchAsync class="btn btn-primary">Search</button>
</div>

<Loader IsLoading=@isLoading>
    <Table Items="@customers">
        <HeaderTemplate>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
        </HeaderTemplate>

        <RowTemplate Context="customer">
            <td>@customer.Id </td>
            <td>@customer.Name</td>
            <td>@customer.Email</td>
            <td><a class="btn btn-primary" href="/customers/view/@customer.Id">View</a></td>
        </RowTemplate>
    </Table>

</Loader>

@code {
    private string searchText = "a";

    private async Task SearchAsync()
    {
        Console.WriteLine($"Searching... {searchText}");

        await Task.Delay(TimeSpan.FromSeconds(3));

        Console.WriteLine($"Found {searchText}");        
    }
}