@page "/customers"
@using Domain.Models
@using BlazorWebAssemblyApp.Shared

<h3>Customer List</h3>

<Loader IsLoading=@isLoading>

    <Content>
        <Table Items="@customers">
            <HeaderTemplate>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
            </HeaderTemplate>

            <RowTemplate>
                <td>@context.Id </td>
                <td>@context.Name</td>
                <td>@context.Email</td>
            </RowTemplate>
        </Table>
       
    </Content>

</Loader>
