@page "/customers"
@using Domain.Models

<h3>Customer List</h3>

<p>@message</p>

@if (customers is null)
{
    <em>Loading customers...</em>
}
else
{
    <ul>
        @foreach (var customer in customers)
        {
            <li>@customer.Id @customer.Name @customer.Email</li>
        }
    </ul>
}


@code {
    private string message = "Hello Customers!";

    private List<Customer>? customers;

    [Inject] // Atrybut pozwalający na wstrzykiwanie zależności
    private HttpClient http { get; set; } // Property

    protected override async Task OnInitializedAsync()
    {
        customers = await http.GetFromJsonAsync<List<Customer>>("https://localhost:7162/api/customers");
    }
}
