@using BlazorWebAssemblyApp.Models


<div class="spinner-border text-@Theme" role="status">
    <span class="visually-hidden">@Message</span>   
</div>


@if (@ApplicationContext.Mode)
{
    @ApplicationContext.Count


    <div class="alert alert-danger" role="alert">
        This is a danger alert—check it out!
    </div>
}

@code {

    [Parameter]
    public string Message { get; set; } = "Loading items...";

    [CascadingParameter]
    public string Theme { get; set; } = "light";

    [CascadingParameter]
    public ApplicationContext ApplicationContext { get; set; }
}